.flex-container {
/*генерирует flex-контейнер уровня блока*/
display: -webkit-flex; 
display: flex; 
flex-direction: column;
width: 300px;
}
/*.flex-container {*/
/*генерирует flex-контейнер уровня строки*/
/* display: -webkit-inline-flex;
 display: inline-flex; 
}
*/

span{
	color:red;
}

.strike{
	text-decoration:line-through
}
